body {
    background-color: #696969;
}

.navbar-default {
    border: none !important;
    background-color: #323232;
    color: #fff;
    border-radius: 0;
}

.navbar-brand {
	color: #fff!important;
	font-family: monospace;
	text-shadow: 0 0 10px rgb(50,205,50),0 0 10px rgb(50,205,50);
}

.navbar-default .navbar-nav>li>a {
	color: #fff!important;
}

.navbar-default .navbar-nav>li>a:hover {
	color: limegreen!important;
}

.navbar-default .navbar-nav>li>a:focus {
	color: limegreen!important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: limegreen!important;
	background-color: transparent!important;
}

.ease {
    transition: all ease 0.2s;
}

.lang-chooser:focus {
    outline: lime auto 5px;
}

.CodeMirror {
    margin-bottom: 20px;
    border-radius: 4px;
}

.btn-ide-action:focus {
    outline: lime auto 5px;
}

.btn-ide-action {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background: #edeef1;
    color: #353535;
}

.btn-run_code {
	background-color: limegreen;
	color: #fff;
	font-family: monospace;
	font-size: 2rem;
	border-color: limegreen;
	width: 15%!important;
	padding-top: 4px;
}

.btn-submit_code {
	color: #fff;
	font-family: monospace;
	font-size: 2rem;
	width: 15%!important;
	padding-top: 4px;
	margin-right: 5px;
    margin-left: 10px;
}

.btn-run_code:hover {
	background-color: rgba(50,205,50,.6);
	border-color: rgba(50,205,50,.6);
}

.btn-ide-action:hover {
    background-color: rgba(50,205,50,.6);
}

.btn:focus {
    background-color: rgba(50,205,50,.6);
	border-color: rgba(50,205,50,.6);
    outline: lime auto 5px;
}

.btn:active {
    background-color: green;
	border-color: green;

}

.lang-chooser {
    min-width: 250px;
    padding: 0px 20px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 30px;
    background: url(../images/arr-down.png) no-repeat right #edeef1;
    -webkit-appearance: none;
    background-position-x: 220px;
    cursor: pointer;
}

.code-editor-wrapper {
    margin-top: 20px;
}

.btn-run_code,
.btn-submit_code {
    min-width: 120px;
}

.toggle-on {
    background-color: #292929;
}

.cm-s-base16-light {
    border: 1px solid #dedede;
}
