.tool-ul{
	list-style:none;
}
.tool-ul-li{
	display: inline-block;
}
.head{
	background: #e1e1e1;
	width: auto;
	height:30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.editor{
	background: #1e1e1e;
	width: auto;
	height: auto;
	border-radius: 5px;
}
.footer{
	background: #0075c3;
	width: auto;
	height: 30px;
	margin-top: auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.bitem-ul{
	list-style: none;
}
.bitem-u-li{
	display: inline-block;
}
.itemred{
	background: #ff5f5c;
	width: 15px;
	height: 15px;
	border-radius: 60px;
	margin-left: -39px;
	margin: 9px -36px;
}
.itemyl{
	background: #ffbb4e;
	width: 15px;
	height: 15px;
	border-radius: 60px;
	margin-left: -39px;
	margin: 9px -19px;
}
.itemgr{
	background: #00ca58;
	width: 15px;
	height: 15px;
	border-radius: 60px;
	margin-left: -39px;
	margin: 9px 0px;
}
.itemtext{
	 background: #000;
	 width: 15px;
	 height: 15px;
	 font-family: Arial;
	 margin-left: -39px;
	 margin: 9px 22px;
	 border-radius: 4px;
 }
.body{
	color: #fff;
}
.textarea{
	background-color: #272822;
				font-family: consolas,"courier new",monospace;
				font-size: 15px;
				height: 399px;
				width: 98%;
				padding: 8px;
				resize: none;
				border: none;
				line-height: normal;
				color: #fff;
				overflow: auto;
}
.textarea:focus{
				outline: none;
}
.iframeshow{
	background: #e6e6e6;
	width: auto;
	height: 339px;
	overflow-y: auto;
	color: #000;
	font-family: Arial;
}
#btn-view{
	width: auto;
}
